#gallery {
    background: rgb(163, 163, 163);
    background: radial-gradient(circle, rgba(163, 163, 163, 1) 0%, rgba(20, 150, 177, 1) 100%);
}

.gallery-p {
    margin-left: 98px;
    padding-top: 20px;
    font-family: Lobster;
    font-size: 64px;
    margin-bottom: 82px;
}

.foto {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hscollege {
    font-family: Reem Kufi;
    font-size: 48px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 14px;
    color: whitesmoke;
}

.organ {
    font-family: Reem Kufi;
    font-size: 48px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 14px;
    color: whitesmoke
}

.sosmas {
    font-family: Reem Kufi;
    font-size: 48px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 14px;
    color: whitesmoke;
}

.sosmed {
    margin-left: 17px;
    margin-right: 17px;
}

.contact {
    padding-left: 54px;
    font-family: Rakkas;
    font-size: 24px;
    float: left;
    color: whitesmoke;
}

.footer {
    color: white;
}